$purple:#563AD6;
$aqua:#3ABAD6;
$navy: #02044A;
$white:#FFFFFF;
$sofpur:#EAEAF4;
$darpur:#777790;
$medpur:#B4B5C9;
$lilpur:#F9F9FB;
$font-weight : ("regular": 400, "medium":500, "semibold":600 ); 

body {
    font-family: 'Rubik', sans-serif;
}

.navbar-tp {
    padding-top: 30px;
    .navbar-nav {
        li {
            padding-left: 30px;
        }
        .active{
            color: $purple !important;
            font-weight: 500 !important;
        }
        .nav-link {
            color: $navy;
            font-weight: 400;
        }
    }
}

