@import '../style/colors.scss';
@import '../style/buttons.scss';
@import '../style/typo.scss';

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@mixin phone {
    @media (min-width: 375px) {
        @content;
    }
}


// Medium devices (tablets, 768px and up)
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}


// Extra large devices (large desktops, 1200px and up)
@mixin large-devices {
    @media (min-width: 1200px) {
        @content;
    }
}






body {
    font-family: 'Rubik', sans-serif;
}

.navbar-tp {
    padding-top: 30px;
    .navbar-toggler {
        @include phone {
            margin-left: 90px !important;
        }
    }
    .navbar-nav {
        li {
            padding-left: 30px;
        }
        .active{
            color: $purple !important;
            font-weight: map-get($font-weight, "medium" ) !important;
        }
        .nav-link {
            color: $navy;
            font-weight: map-get($font-weight, "regular" );
        }
    }
}
    


.sales {
    padding-top: 100px;
    .brand {
        margin-top: 70px;
        text-align: center;
        .img-brands {
            width: 724px;
        }
    }
    .copywriting {
        margin-top: 100px;
        padding-left: 130px;
    }
}

.tagline {
    font-size: 46px;
    line-height: 60px;
    color: $navy;
    font-weight: map-get($font-weight, "semibold" );
}
.description {
    font-weight: map-get($font-weight, "regular" ) !important;
    font-size :18px;
    line-height: 30px !important;
    color: $newpur;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pricing {
    background: $lilpur;
    padding: 70px 0 70px 0;
    margin-top: 70px ;
    .btn {
        width: 100%;
        margin-top: 40px;
    }
    .item-benefit {
        font-size: 16px;
        font-weight: map-get($font-weight, "medium" );
        img {
            float: left;
            margin-right: 8px;
        }
    }
    .master-card {
        padding: 30px;
        border-radius: 22px;
        .name-card {
            font-weight: map-get($font-weight, "medium" );
            font-size: 18px !important;
        }
        .pricing-card {
            font-weight: map-get($font-weight, "semibold" );
            font-size: 36px !important;
            line-height: 43px;
        }
        .description-card {
            font-weight: map-get($font-weight, "medium" );
            font-size: 16px !important;
        }
        .text-benefit {
            font-weight: map-get($font-weight, "medium" );
            font-size: 16px;
        }
    }
    .basic-card{
        background: $white; 
        .name-card {
            color: $navy !important;
        }
        .pricing-card {
            color: $navy;
        }
        .description-card {
            color: $newpur;
        }
        .text-benefit {
            color: $navy;
        }
        .item-benefit {
            font-size: 16px;
            font-weight: map-get($font-weight, "medium" );
        }
    }
    .most-card{
        background: $purple; 
        .btn-primary {
            background: $aqua !important;
        }
        .name-card {
            color: $white !important;
        }
        .pricing-card {
            color: $white;
        }
        .description-card {
            color: $softpur;
        }
        .text-benefit {
            color: $white;
        }
        .item-benefit {
            font-size: 16px;
            font-weight: map-get($font-weight, "medium" );
        }
    }
}